.section {
  @apply px-8 md:px-16 lg:px-24 xl:px-28 2xl:px-32 py-16 xl:py-20 2xl:py-32 w-full;
  background-image: url("/images/about/hero_banner.png"),
    url("/images/about/bg.png");
  background-position: right bottom, center;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, cover;
  min-height: 900px;
}

@media (max-width: 1400px) {
  .section {
    background-size: 60%, cover;
    min-height: 600px;
  }
}

@media (max-width: 1200px) {
  .section {
    background-image: url("/images/about/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
  }
}

.container {
  @apply flex flex-col w-full xl:w-2/3 2xl:w-1/2 space-y-10;
}

.essence {
  @apply text-[30px] md:text-[42px] text-white;
}

.title {
  @apply text-[44px] lg:text-[45px] xl:text-[50px] 2xl:text-[56px] font-bold text-beige;
  letter-spacing: 0.05em;
  line-height: 76px;
}

.description {
  @apply w-full xl:w-[90%] 2xl:w-[95%] text-[20px] xl:text-[24px] 2xl:text-[32px] text-white;
}
