.section {
  @apply px-8 md:px-16 lg:px-24 xl:px-28 2xl:px-32 py-16 md:py-32 w-full;
  background-image: url("/images/about/hero_banner.png"),
    url("/images/about/bg.png");
  background-position: right, center;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, cover;
  min-height: 900px;
}

@media (max-width: 1400px) {
  .section {
    background-size: 60% ,cover;
  }
}

@media (max-width: 1200px) {
  .section {
    background-image: url("/images/about/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
  }
}

.container {
  @apply flex flex-col w-full xl:w-2/3 2xl:w-1/2 space-y-10;
}

.essence {
  @apply text-[30px] md:text-[42px] text-white;
}

.title {
  @apply text-[44px] md:text-[56px] font-bold text-beige;
}

.description {
  @apply text-[20px] md:text-[32px] text-white;
}
