@tailwind base;
@tailwind components;
@tailwind utilities;

.indicator {
  @apply mx-[4px];
  cursor: pointer;
  text-align: center;
  background-color: #EDEDED;
  width: 12px;
  height: 12px;
  border-radius: 100px;
  transition: all 0.8s ease;
}

.indicator.active {
  @apply bg-beige;
  color: #fff;
  width: 40px;
  height: 12px;
}
.indicators{
    @apply absolute mx-auto;
    left: 25%;
    right: 25%;
    width: 250px;
    bottom: 24px;
}
.slide-container{
    @apply -mt-[2px]
}