@tailwind base;
@tailwind components;
@tailwind utilities;

.indicator {
  @apply mx-[4px];
  cursor: pointer;
  text-align: center;
  background-color: #EDEDED;
  width: 12px;
  height: 12px;
  border-radius: 100px;
  transition: all 0.8s ease;
}

.indicator.active {
  @apply bg-beige md:w-[40px] md:h-[12px];
  color: #fff;
}
.indicators{
    @apply absolute mx-auto lg:left-[25%] lg:right-[25%] left-[18%];
    width: 250px;
    bottom: 24px;
}
.slide-container{
    @apply -mt-[2px]
}
.card__block{
    @apply flex flex-col justify-end;
    width: 100%;
}