.section {
  @apply px-8 md:px-16 lg:px-24 xl:px-28 2xl:px-32 py-16 md:py-32 w-full flex justify-start items-center;
  background-image: url("/images/home/urban.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 50vw;
}

@media (max-width: 640px) {
  .section {
    min-height: 500px;
    background-image: url("/images/home/bg.png");
  }
}

.container {
  @apply w-full md:w-2/3 lg:w-3/4 xl:w-3/4 2xl:w-1/2 space-y-10;
  max-width: 1920px;
}

.title {
  @apply capitalize text-beige text-[40px] md:text-[52px] lg:text-[64px] font-bold;

}

@media (max-width: 540px) {
  .title {
    line-height: 48px
  }
}

.p__new {
  @apply text-[40px] text-white font-normal;
  letter-spacing: 0.05em;
}

.description {
  @apply text-[26px] text-white font-normal space-y-8;
  letter-spacing: 0.02em;
}
