.section {
    @apply flex items-center justify-center relative;
    min-height: 1000px;
    overflow: hidden; /* Предотвратить выход за пределы размытого оверлея */
  }
  
  .blur__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/images/upcoming/upcoming.webp");
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: -1;
  }

.container {
    @apply text-center flex flex-col space-y-8 justify-center;
}

.new {
    @apply 
}